<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="page-header">
        <h1>Login</h1>
    </header>
    <form class="centered-form" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="John Smith" required>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br><br>

        <input id="login-submit" type="submit" value="Login">

        <p th:if="${error}" th:text="${error}" class="text-error"></p>

        <p>Don't have an Account? <a href="/create-account">Sign up</a></p>
    </form>
</body>
</html>